.locais {
    width: 250px;
    background-color: antiquewhite;
    z-index: 8;
    top: 50px;
    left: 50px;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer {
    min-width: 30%;
    list-style: none;
}

.locais-card {
    background: burlywood;
    margin: 15px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
