body {
    height: 100%;
    /*background-image: url('https://images.alphacoders.com/674/674638.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;*/
}