.map {
    display: flex;
    flex-direction: column;
}

.map-div{
    width: 97%;
    position: fixed;
    margin-left: 50px;
    margin-top: 50px;
    background-color: black;
    height: 850px;
    overflow-x: hidden;
    z-index: 9;
}
